* {
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#statment{
    text-align: center;
}
#scoreLink {
    position: fixed;
    margin-bottom: 10px;
    font-size: larger;
    color: black;
}
 #scoreLink:hover{
    position: fixed;
    margin-bottom: 10px;
    font-size: larger;
    color: red;
}
#highScores {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    text-align: center;
    display: none;
    border: 2px solid red;
}
#highScores h2{
    background-color: red;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding-top: 300px;
}
button {
    display: column;
    flex-direction: row;
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 0.19in;
  }
  #answerResult{
    font-size: large;
    color: red;
  }